<p-panel header="NoCommon Pipes" class="p-1">
  <h1>Pipes No Comunes</h1>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        <!-- Pipe que sirve para cambiar el genero de los adjetivos segun el genero de la persona -->
        Saludos {{ name }}, es un placer
        {{ gender | i18nSelect : invitationMap }} a nuestro evento
      </p>
      <p-button (click)="changeClient()" label="Cambiar persona"> </p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        <!-- Pipe que sirve para cambiar el adjetivo a plural o singular segun la cantidad de sustantivos -->
        Actualmente {{clients.length | i18nPlural: clientsMap}}
      </p>
      <p-button (click)="deleteClient()" label="Borrar cliente"> </p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <!-- Pipe que sirve para cortar un arreglo a nuestro antojo -->
      <b>Original</b>
      <pre>{{ clients }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clients | slice:0:2 }}</pre>

      <b>slice:0:1</b>
      <pre>{{ clients | slice:0:1 }}</pre>

      <b>slice:0:-1</b>
      <pre>{{ clients | slice:0:-1 }}</pre>

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="JSON Pipe" [toggleable]="true">
      <pre>{{ person | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <!-- Pipe que consigue desgranar un JSON en clave-valor para poder mostrarlo de forma entendible -->
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{ item.key | titlecase }}: </b>{{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <!-- Desenvuelve un valor de un primitivo asincrónico -->
      <pre *ngIf="!(myObservableTimer | async)">Resolviendo observable</pre>
      <pre>{{ myObservableTimer | async }}</pre>

      <pre *ngIf="!(promiseValue | async)">Resolviendo promesa</pre>
      <pre>{{ promiseValue | async }}</pre>
    </p-fieldset>
  </div>
</div>
